.grid {
  margin: 8px;
}
.grid .grid-row {
  flex: 1 0 100%;
  display: block;
  animation: fadeIn 0.3s linear;
  background-color: rgba(0,0,0,0.1);
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 8px;
}
.grid .grid-row.grid-row_header {
  display: none;
}

.grid .grid-row .grid-cell {
  flex: 1 1 20%;
  padding: 12px;
  margin: 2px;
  background-color: rgba(255,255,255,0.5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.grid .grid-row .grid-cell label, .grid .grid-row .grid-cell span {
  display: block;
  flex: 1 1 50%;
  font-weight: bold;
  background-color: rgba(97,218,251);
  border-radius: 8px;
  padding: 12px;
  margin-right: 4px
}
.grid .grid-row .grid-cell span {
  background-color: #fff;
  margin-right: 0;
}
.grid .grid-row .grid-cell:nth-of-type(1) {
  order: 1;
}
.grid .grid-row .grid-cell:nth-of-type(2) {
  order: 2;
}
.grid .grid-row .grid-cell:nth-of-type(3) {
  order: 3;
}
.grid .grid-row .grid-cell:nth-of-type(4) {
  order: 4;
}
.grid .grid-row .grid-cell:nth-of-type(5) {
  order: 5;
}
.grid .grid-row .grid-cell.grid-cell_input {
  padding: 0;
  background-color: transparent;
}
.grid .grid-row .grid-cell.grid-cell_totals {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  padding: 0;
}
.grid .grid-row .grid-cell.grid-cell_totals label {
  width: 100px;
  text-align: left;
  font-weight: bold;
}
.grid .grid-row .grid-cell.grid-cell_totals span {
  width: 100px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}
button {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  background-color: #61dafb;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
button.truthy {
  background-color: #0ece0e;
}
button.falsey {
  background-color: red;
  color: #fff;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scaleY(0)}
  to {opacity: 1; transform: scaleY(1)}
}

@media screen and (min-width: 600px) {
  .grid .grid-row {
    display: flex;
    background-color: transparent;
    padding: 0;
  }
  .grid .grid-row.grid-row_header {
    display: flex;
  }
  .grid .grid-row .grid-cell.grid-cell_header {
    display: block;
    font-weight: bold;
    background-color: rgba(97,218,251);
  }
  .grid .grid-row .grid-cell label {
    display: none;
  }
  .grid .grid-row .grid-cell.grid-cell_totals label, .grid .grid-row .grid-cell.grid-cell_totals span {
    display: block;
    flex: unset;
  }
  .grid .grid-row .grid-cell:nth-of-type(5) {
    max-width: 30px;
  }
  .grid-container {
    padding: 8px;
    margin: 2px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
  }
}